.callService {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.callService div {
  display: flex;
  margin-left: 20px;
}


.searchbar-container {
  background-color: #003F62;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  width: 140px;
  padding-left: 120px;
}

.signin-container {
  color: white;
  display: flex;
  justify-content: right;
}

.space {
  padding: 5px;
}

.signin,
.favorite,
.basket {
  padding: 0 10px;
  font-size: 20px;
}