.callService {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.callService div {
  display: flex;
  margin-left: 20px;
}

.searchbar-container {
  background-color: #003f62;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  width: 140px;
  padding-left: 120px;
}

.signin-container {
  color: white;
  display: flex;
  justify-content: right;
}

.space {
  padding: 5px;
}

.signin,
.favorite,
.basket {
  padding: 0 10px;
  font-size: 20px;
  position: relative;
}

.banner-container {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 43px;
  color: #1b5a7d;
}

.banner-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-container .text-short {
  font-size: 25px;
  font-weight: 400;
}

.button1 button {
  margin: 20px;
}

.promotion-price {
  position: absolute;
  background-color: #eda415;
  font-size: 21px;
  color: white;
  right: 30px;
  bottom: 0px;
  padding: 20px 30px;
  border-radius: 80px;
}

.category-card {
  /* margin: auto; */
  padding: 10px;
  border: 1px solid #ddd;
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  margin: 10px;
}

.category-cards-container {
  display: flex;
  justify-content: center;
}

.card-img-container {
  width: 40%;
  height: 50px;
  display: flex;
  justify-content: center;
}

.card-img-container img {
  max-height: 100%;
  width: auto;
}

.category-text {
  width: 60%;
}

.product-card {
  padding: 10px;
  border: 1px solid #ddd;
  width: 220px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
}

.product-img-container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}

.product-img-container img {
  max-height: 100%;
  width: auto;
  display: flex;
}

.product-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10px;
  position: relative;
}

.product-text div {
  padding: 3px 0;
}

.product-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-ratings {
}

.basket-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  bottom: 0px;
  /* padding: 50px; */
  border-radius: 15px;

  background-color: #eda415;
}

#menu-item-1 {
  background-color: #eda415;
  color: red;
}

.banner-img-container {
  padding-top: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.banner-img-container img {
  width: 300px;
  height: 300px;
  width: auto;
  display: flex;
}
